<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977911399965-0oipa8qcs81caudmstm8breft02ss1ap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977911399965-0oipa8qcs81caudmstm8breft02ss1ap</string>
	<key>API_KEY</key>
	<string>AIzaSyB_QfW4wkeMDXZ74bXLO0TCfxpBPgaLoiA</string>
	<key>GCM_SENDER_ID</key>
	<string>977911399965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.itiProj</string>
	<key>PROJECT_ID</key>
	<string>itifinalproj</string>
	<key>STORAGE_BUCKET</key>
	<string>itifinalproj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977911399965:ios:92ba1f2684a5ee80f628f4</string>
</dict>
</plist>